body {
background-image: url("C:\Users\karan singh rawat\Downloads\image.jfif");
background-repeat: no-repeat;
background-size: cover;
background-position: fixed;
background-position: center;
color: white;
}
